.div_A {
    background-color: #000000;
    width: 900px;
    height: 400px;
}
.div_B {
    background-color: #800080;
    width: 40%;
    height: 30%;
}
.parágrafo {
    background-color: rgb(97, 240, 78);
    color: black;
    font-size: 60px;
    font-family: fantasy;
    font-weight: 300;
}
.div_D {
    width: 55%;
    height: 70vh;
    background-color: #E30052;
}
.div_E {
    width: 50vw;
    height: 25%;
    background-color: rgb(6, 2, 245);
}